<h1>Blogs</h1>
<br>
<div class="">
  <%= link_to "New post" , new_blog_path , class: "btn btn-success" %>
</div>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        Title
      </th>
      <th>
        Create at
      </th>
      <th>
        Manage
      </th>

    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.id %>
        </td>
        <td>
          <%= blog.title %>
        </td>

        <td>
          <%= return_month_readble_format(blog.created_at) %>
        </td>
        <td>
          <%= link_to "Edit post" , edit_blog_path(blog.id) , class: "btn btn-primary" %>
          <%= link_to "delete post" , new_blog_path , class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>