<div class="row">
  <% if @activities.count > 0 %>
    <% @activities.each do |activity| %>
      <div class="col-md-4 col-sm-6">
        <div class="hotel_container">
          <div class="img_container">

            <%= link_to activity_show_path(activity.id) do %>

              <%= image_tag(activity.activity_image01_url, alt: activity.name,class: "img-responsive") %>

              <div class="short_info">
                <!--<i class="icon_set_1_icon-44"></i>-->
                <!--Historic Buildings-->
                  <span class="price">
                    <!--<sup>$</sup>-->
                    <%= price_show_func(activity) %>
                  </span>
              </div>

              <% unless activity.rating.nil? %>
                <div class="score">
                  <span> <%= activity.rating %> </span>
                  <% if activity.rating >= 9 %>
                      Superb
                  <% elsif activity.rating >= 8 %>
                      Very Good
                  <% elsif activity.rating >= 7 %>
                      Good
                  <% elsif activity.rating >= 6 %>
                      Pleasant
                  <% elsif activity.rating >= 5 %>
                      Normal
                  <% else %>
                      Poor
                  <% end %>
                </div>
              <% end %>
            <% end %>

          </div>
          <div class="hotel_title">
            <h3><strong><%= activity.name %></strong></h3>
            <div class="rating">
              <% if activity.rating.nil? %>
                  <p>No rating</p>
              <% else %>
                  <!--<i class="icon-smile voted"></i>-->
                  <!--<i class="icon-smile voted"></i>-->
                  <!--<i class="icon-smile voted"></i>-->
                  <!--<i class="icon-smile voted"></i>-->
                  <!--<i class="icon-smile"></i>-->
                  <!--<small>(75)</small>-->
                  <% rating_rounds = returnRatingCounter(activity.rating) %>
                  <div class="rating">
                    <% rating_rounds.times do |n| %>
                        <i class="icon-star voted"></i>
                    <% end %>
                    <% (5 - rating_rounds).times do |n| %>
                        <i class="icon-star-empty"></i>
                    <% end %>
                  </div>

              <% end %>
            </div><!-- end rating -->
            <%= link_to user_wishlist_delete_wishlist_path(current_user.id,activity.id), method: :delete,
                        data: { confirm: "Are you sure to delete this wishlist?" } do %>
              <div class="wishlist_close_admin">
                -
              </div>
            <% end %>
          </div>
        </div><!-- End box tour -->
      </div><!-- End col-md-6 -->
    <% end %>
  <% else %>
    <h3>No wishlist</h3>

  <% end %>


</div>