<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <h3>Need help?</h3>
        <!--<a href="tel://004542344599" id="phone">+66 87 493 1044</a>-->
        <p>If you need have with the content or some languages problems</p>
        <a href="mailto:admin@thaimeditationcenter.com" id="email_footer">admin@thaimeditationcenter.com</a>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>About</h3>
        <ul>
          <li>
            <% if current_page?("/") %>
                <%= link_to "About us", "#aboutus",class: "slide-menu"  %>
            <% else %>
                <%= link_to "About us", "/"  %>
            <% end %>
          </li>
          <!--<li><a href="#">FAQ</a></li>-->
          <!--<li><a href="#">Login</a></li>-->
          <!--<li><a href="#">Register</a></li>-->
          <% unless logged_in? %>
            <li>
              <%= link_to 'SIGN UP', signup_path %>
            </li>
          <% end %>
          <!--<li><a href="#">Terms and condition</a></li>-->
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Classes</h3>
        <ul>
          <li>
            <%= link_to "Thailand Meditation Classes", activities_list_path  %>
          </li>
          <li>
            <%= link_to "Blog", articles_path  %>
          </li>
          <li>
            <!--<a href="#">Sitemap</a>-->
            <%= link_to "Sitemap", sitemap_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <!--<ul>-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-twitter"></i></a></li>&ndash;&gt;-->
            <!--<li><a href="#"><i class="icon-google"></i></a></li>-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-instagram"></i></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-pinterest"></i></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-vimeo"></i></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-youtube-play"></i></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#"><i class="icon-linkedin"></i></a></li>&ndash;&gt;-->
          <!--</ul>-->
          <p>© jarbstudio 2015</p>
        </div>
      </div>
    </div><!-- End row -->
  </div>
</footer>

<% content_for :footer_script do %>

  <script type="text/javascript">

    $( document ).ready(function() {

      $("#sign-in-nav-bt").click(function(e){
        $(this).next().toggleClass("show-next-element")
        return false
      });


      $(document).on("scroll", onScroll);

      //smoothscroll
      $('.slide-menu').on('click', function (e) {
        e.preventDefault();
        $(document).off("scroll");

        $('a').each(function () {
          $(this).removeClass('active');
        })
        $(this).addClass('active');
        var headerOffset = 55;
        var target = this.hash,
            menu = target;
        $target = $(target);
        $('html, body').stop().animate({
          'scrollTop': $target.offset().top + 2 - headerOffset
        }, 500, 'swing', function () {
          window.location.hash = target;
          $(document).on("scroll", onScroll);
        });
      });
    });

    function onScroll(event){
      var scrollPos = $(document).scrollTop();
      $('#menu-center a').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
          $('#menu-center ul li a').removeClass("active");
          currLink.addClass("active");
        }
        else{
          currLink.removeClass("active");
        }
      });
    }

  </script>
<% end %>