<h1>Edit Activities</h1>
<br>
<br>
<%= form_for(@activity, html: { multipart: true }) do |f|%>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :"Temple Belongto" %>
          <%= f.select :temple_id ,temple_belong_list,{},class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :"Activity Name" %>
          <%= f.text_field :name , class: 'form-control', :placeholder => "Activity name" %>
        </div>
        <div class="form-group">
          <%= f.label :"Activity Details" %>
          <%= f.text_area :details , class: 'form-control', :placeholder => "Activity Details" %>
        </div>

        <!-- For start - end -->

        <div class="form-group">
          <%= f.label :"Permanent Activity?" %>
          <%= f.select :permanent ,[['Temporary', false],['Permanent', true]],{},class: 'form-control permanent-event-input' %>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :"Start Date" %>
              <%= f.text_field :start_at , class: 'form-control calender-input start-date-input', :placeholder => "Start date" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :"End Date" %>
              <%= f.text_field :end_at , class: 'form-control calender-input end-date-input', :placeholder => "End date" %>
            </div>
          </div>
        </div>

        <!-- For start - end -->

        <div class="form-group">
          <%= f.label :"Capacity" %>
          <%= f.number_field :capacity , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :"Booking Status" %>
          <%= f.select :booking_status ,[['Need', true], ['No need', false]],{},class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :"Activity Rules" %>
          <%= f.text_area :rules , class: 'form-control', :placeholder => "Activity Rules" %>
        </div>

        <div class="form-group">
          <%= f.label :"How to apply?" %>
          <%= f.text_area :apply_details , class: 'form-control', :placeholder => "How to apply?" %>
        </div>

        <div class="form-group">
          <%= f.label :"Price" %>
          <%= f.number_field :payment_price , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :"Need Payment?" %>
          <%= f.select :payment_need ,[['Need', true], ['No need', false]],{},class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :"Still open?" %>
          <%= f.select :avaliable ,[['Open', true], ['Close', false]],{},class: 'form-control ' %>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :"Activity Image01" %>
          <%= f.file_field :activity_image01_url, accept: 'image/jpeg,image/gif,image/png'  %>
          <br>
          <div class="temple-edit-logo-box">
            <% if !@activity.activity_image01_url.nil? %>
                <img src="<%= @activity.activity_image01_url %>" alt="">
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :"Activity Image02" %>
          <%= f.file_field :activity_image02_url, accept: 'image/jpeg,image/gif,image/png'  %>
          <br>
          <div class="temple-edit-logo-box">
            <% if !@activity.activity_image02_url.nil? %>
                <img src="<%= @activity.activity_image02_url %>" alt="">
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :"Activity Image03" %>
          <%= f.file_field :activity_image03_url, accept: 'image/jpeg,image/gif,image/png'  %>
          <br>
          <div class="temple-edit-logo-box">
            <% if !@activity.activity_image03_url.nil? %>
                <img src="<%= @activity.activity_image03_url %>" alt="">
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :"Youtube Url" %>
          <%= f.text_field :youtube_url , class: 'form-control', :placeholder => "Youtube Url" %>
        </div>
      </div>
    </div>
    <%= f.submit :"Edit Activity", class: 'btn btn-primary' %>
<% end %>

<br><br><br>

<script type="text/javascript">

  $( document ).ready(function() {

    var permanent_value_start = $('.permanent-event-input').val();

    var start_date_val = $('.start-date-input').val();

    if(start_date_val !== ""){
      var date = new Date(start_date_val);
      var start_date_string = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
      $('.start-date-input').val(start_date_string);
    }

    var end_date_val = $('.end-date-input').val();

    if(start_date_val !== ""){
      var date = new Date(end_date_val);
      var end_date_string = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
      $('.end-date-input').val(end_date_string);
    }

    $('.calender-input').datepicker();

    if(permanent_value_start === 'false'){
      $('.calender-input').prop( "disabled", false );

    } else {
      $('.calender-input').prop( "disabled", true );

    }

    $('.permanent-event-input').on('change', function() {
      var permanent_value = $(this).val();

      if(permanent_value === 'false'){
        $('.calender-input').prop( "disabled", false );

      } else {
        $('.calender-input').prop( "disabled", true );

      }
    });
  });

</script>