<div class="activities-list-banner-container">
  <div class="jumbotron">
    <div class="container">
      <h1><%= @city_name unless @city_name.nil?  %> Classes List!</h1>
      <!--<p>...</p>-->
    </div>
  </div>
</div>
<div id="position">
  <div class="container">
    <ul>
      <li>
        <%= link_to "Classes", activities_list_path %>
      </li>
      <% unless @city_name.nil? %>
        <li><%= @city_name %></li>
      <% end %>

    </ul>
  </div>
</div><!-- Position -->

<section class="meditaion-list-container light-grey-bg">
  <div class="container margin_60">

    <% flash.each do |message_type,message|%>
        <div class="alert alert-<%= message_type %>"><strong><%= message %></strong></div>
    <% end %>

    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div id="filters_col">
          <div class="filter-box">
            <div class="filter_type">
              <h6>Review Score</h6>
              <ul>
                <% if @superb_count > 0 %>
                  <li>
                    <label>
                      <input id="superb_checkbox" type="checkbox"
                             class="rank-list-checkbox" value="9">
                      Superb: 9+ (<%= @superb_count.to_s %>)
                    </label>
                  </li>
                <% end %>
                <% if @very_good_count > 0 %>
                  <li>
                    <label>
                      <input id="very_good_checkbox" type="checkbox"
                             class="rank-list-checkbox" value="8">
                      Very good: 8+ (<%= @very_good_count %>)
                    </label>
                  </li>
                <% end %>
                <% if @good_count > 0 %>
                  <li>
                    <label>
                      <input id="good_checkbox" type="checkbox"
                             class="rank-list-checkbox" value="7">
                      Good: 7+ (<%= @good_count %>)
                    </label>
                  </li>
                <% end %>
                <% if @pleasant > 0 %>
                  <li>
                    <label>
                      <input id="pleasant_checkbox" type="checkbox"
                             class="rank-list-checkbox" value="6">
                      Pleasant: 6+ (<%= @pleasant %>)
                    </label>
                  </li>
                <% end %>
                <li>
                  <label>
                    <input id="norate_checkbox" type="checkbox"
                           class="rank-list-checkbox" value="0">
                    No rating (<%= @no_rating %>)
                  </label>
                </li>
              </ul>
            </div>
            <div class="filter_type">
              <h6>District</h6>
              <ul>

                <!--<li><label><input type="checkbox">Paris Centre</label></li>-->
                <!--<li><label><input type="checkbox">La Defance</label></li>-->
                <!--<li><label><input type="checkbox">La Marais</label></li>-->
                <!--<li><label><input type="checkbox">Latin Quarter</label></li>-->
                <li><label><input type="checkbox" class="city-list-input-checkbox" value=""> All Classes</label></li>
                <% @temple_counter_hash.each do |key,value| %>
                    <li>
                      <label>
                        <input type="checkbox" id="<%= return_city_by_key(key).gsub(" ","") %>" class="city-list-input-checkbox" value="<%= key %>">
                        <%= return_city_by_key(key) %>
                      </label>
                    </li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
        <div class="text-center google-ad-box">

        </div>
        <div class="box_style_2">
          <i class="icon_set_1_icon-57"></i>
          <h4>Need <span>Help?</span></h4>
          <br>

          <a style="font-size: 12px;" href="mailto:admin@thaimeditationcenter.com" class="phone">admin@thaimeditationcenter.com</a>

          <small>Monday to Friday 9.00am - 7.30pm</small>
        </div>
      </div>

      <div class="col-lg-9 col-md-9">
        <div id="tools">
          <div class="row">
            <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
              <!--<div class="styled-select-filters">-->
                <!--<select name="sort_price" id="sort_price">-->
                  <!--<option value="" selected>Sort by price</option>-->
                  <!--<option value="lower">Lowest price</option>-->
                  <!--<option value="higher">Highest price</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="styled-select-filters">
                <select  name="sort_rating" id="sort_rating">
                  <option value="" selected>No sorting</option>
                  <option value="rankhigh">Highest ranking</option>
                  <option value="ranklow">Lowest ranking</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <% @activities.each do |activity| %>
          <div class="strip_all_tour_list">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <!--<div class="wishlist">-->
                  <!--<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">-->
                    <!--+-->
                    <!--<span class="tooltip-content-flip">-->
                    <!--<span class="tooltip-back">Add to wishlist</span>-->
                    <!--</span>-->
                  <!--</a>-->
                <!--</div>-->
                <div class="img_list">
                  <%= link_to activity_show_path(activity.id) do %>
                    <% unless activity.rating.nil? %>
                        <% if activity.rating > 7 %>
                          <div class="ribbon top_rated"></div>
                        <% end %>
                    <% end %>
                    <!--<img src="img/hotel_1.jpg" alt="">-->
                    <%= image_tag(activity.activity_image01_url, alt: activity.name) %>
                    <div class="short_info"></div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix visible-xs-block"></div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tour_list_desc">

                  <% unless activity.rating.nil? %>
                    <% if activity.rating <= 0 %>
                    <% else %>
                      <div class="score">
                        <% if activity.rating >= 9 %>
                          Superb
                        <% elsif activity.rating >= 8 %>
                          Very Good
                        <% elsif activity.rating >= 7 %>
                          Good
                        <% elsif activity.rating >= 6 %>
                          Pleasant
                        <% elsif activity.rating >= 5 %>
                          Normal
                        <% else %>
                          Poor
                        <% end %>

                        <span> <%= activity.rating %> </span>
                      </div>
                    <% end %>

                    <% rating_rounds = returnRatingCounter(activity.rating) %>
                    <% if rating_rounds <= 0 %>
                      No rating
                    <% else %>
                      <div class="rating">
                        <% rating_rounds.times do |n| %>
                          <i class="icon-star voted"></i>
                        <% end %>
                        <% (5 - rating_rounds).times do |n| %>
                            <i class="icon-star-empty"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>

                  <div class="para-truncate fade_para">
                    <h3>
                      <strong><%= activity.name %></strong>
                    </h3>
                  </div>
                  <div class="activities-list-indent-para fade_para">
                    <%= raw(activity.details) %>
                  </div>
                  <br>
                  <strong>City:</strong>
                  <% temple_activity = Temple.find_by(id: activity.temple_id) %>
                  <%= return_city_by_key(temple_activity.city) %>

                  <!--<ul class="add_info">-->
                    <!--<li>-->
                      <!--<a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Free Wifi"><i class="icon_set_1_icon-86"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Plasma TV with cable channels"><i class="icon_set_2_icon-116"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Swimming pool"><i class="icon_set_2_icon-110"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Fitness Center"><i class="icon_set_2_icon-117"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Restaurant"><i class="icon_set_1_icon-58"></i></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="price_list">
                  <div>

                    <%= price_show_func(activity) %>
                    <!--<span class="normal_price_list">-->
                      <!--$99-->
                    <!--</span>-->
                    <!--<small >*From/Per night</small>-->
                    <br>
                    <br>
                    <p>
                      <%= link_to "Details", activity_show_path(activity.id) ,class: "btn_1"%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!--End strip -->
        <% end %>
        <div class="text-center google-ad-box">

        </div>
        <hr>

        <%= will_paginate @activities %>

      </div>
    </div>
  </div>
</section>

<% content_for :footer_script do %>
  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    };

    if (window.location.href.indexOf("orderby") > -1) {
      var order_val_url = getUrlParameter("orderby");
      $("#sort_rating").val(order_val_url);
    }

    if (window.location.href.indexOf("rank=") > -1) {
      var rank_val_url_re = getUrlParameter("rank");
      $("#sort_rating").val(order_val_url);

      if(rank_val_url_re >= 9){
        $("#superb_checkbox").prop( "checked", true );
      } else
      if(rank_val_url_re >= 8){
        $("#very_good_checkbox").prop( "checked", true );
      } else
      if(rank_val_url_re >= 7){
        $("#good_checkbox").prop( "checked", true );
      } else
      if(rank_val_url_re >= 6){
        $("#pleasant_checkbox").prop( "checked", true );
      }

    }

    function openRankWindow(cityname,rank_var){

      var page_num_var = getUrlParameter("page");

      if (window.location.href.indexOf("rank=") > -1) {
        //window.location = url + "&orderby=" + rank_var + "&" + cityname;
        if (window.location.href.indexOf("page=") > -1) {
          window.location = url + "?orderby=" + rank_var + "&page="+ page_num_var + "&cityname=" + cityname + "&rank=" + getUrlParameter("rank");
        } else {
          window.location = url + "?orderby=" + rank_var + "&cityname=" + cityname + "&rank=" + getUrlParameter("rank");
        }
      } else {
        //window.location = url + "?orderby=" + rank_var + "&" + cityname;

        if (window.location.href.indexOf("page=") > -1) {
          window.location = url + "?orderby=" + rank_var + "&page="+ page_num_var + "&cityname=" + cityname
        } else {
          window.location = url + "?orderby=" + rank_var + "&cityname=" + cityname
        }
      }
    }

    var cityname_url = "";
    var url = location.protocol + '//' + location.host + location.pathname;


//    $('input').iCheck({
//      radioClass: 'iradio_square-grey'
//    });

    if (window.location.href.indexOf("cityname") > -1) {
      cityname_url =getUrlParameter("cityname");
    }

    $('input').iCheck({
      checkboxClass: 'icheckbox_square-grey'
    });

    $('.city-list-input-checkbox').on('ifChecked', function(event){

      if($(this).val() === ""){
        window.location = location.protocol + '//' + location.host  + "/meditation/classes"
      } else {
        window.location = location.protocol + '//' + location.host  + "/meditation/cities?cityname=" + $(this).val();

      }

    });

    $('.rank-list-checkbox').on('ifUnchecked', function(event){
      window.location = url + "?cityname=" + cityname_url;
    });

    $('.rank-list-checkbox').on('ifChecked', function(event){
      var rank_filter_val = $(this).val();

      if(rank_filter_val != "0"){
        window.location = url + "?rank=" + rank_filter_val + "&cityname=" + cityname_url;
      } else {
        window.location = url + "?cityname=" + cityname_url;
      }

    });

    $('#sort_rating').change(function(){

      if ($(this).val() === "rankhigh"){

        if(cityname_url != ""){
          openRankWindow(cityname_url,"rankhigh");
        } else {
          openRankWindow("","rankhigh");
        }


      } else
      if ($(this).val() === "ranklow"){
        if(cityname_url != ""){
          openRankWindow(cityname_url,"ranklow");
        } else {
          openRankWindow("","ranklow");
        }
      } else {
        if(cityname_url != ""){
          openRankWindow(cityname_url,"");
        } else {
          openRankWindow("","");
        }
      }

    });
  </script>
<% end %>